<a href="https://colab.research.google.com/github/sathwika0324/Assignment/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# Load the dataset
df = pd.read_csv('train.csv')  # Make sure 'train.csv' is in the current working directory

# Display the first few rows to verify the data is loaded correctly
print(df.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage   Engine  \
0              41000    Diesel       Manual      First  19.67 kmpl  1582 CC
1              46000    Petrol       Manual      First    13 km/kg  1199 CC
2              87000    Diesel       Manual      First  20.77 kmpl  1248 CC
3              40670    Diesel    Automatic     Second   15.2 kmpl  1968 CC
4              86999    Diesel       Manual      First  23.08 kmpl  1461 CC

       Power  Seats  New_Price  Price
0  126.2 bhp    5.0        NaN  12.50
1   88.7 bhp    5.0  8.61 Lakh   4.50
2  88.76 bhp    7.0        NaN   6.00
3  140.8 bhp    5.0        NaN  17.74
4   63.1 bhp    5.0        NaN   3.50

Look for the missing values in all the columns and either impute them (replace with mean,
median, or mode) or drop them. Justify your action for this task.

In [ ]:
# Define function to clean numeric columns
def clean_numeric_column(column):
    # Remove non-numeric characters and convert to float
    return pd.to_numeric(column.str.replace(r'[^0-9.]', '', regex=True), errors='coerce')

In [ ]:
# Apply the function to the necessary columns
df['Mileage'] = clean_numeric_column(df['Mileage'])
df['Engine'] = clean_numeric_column(df['Engine'])
df['Power'] = clean_numeric_column(df['Power'])

In [ ]:
# Impute missing values
# Mileage - impute with median
df['Mileage'] = df['Mileage'].fillna(df['Mileage'].median())
# Engine - impute with median
df['Engine'] = df['Engine'].fillna(df['Engine'].median())
# Power - impute with median
df['Power'] = df['Power'].fillna(df['Power'].median())
# Seats - impute with mode (most common value)
df['Seats'] = df['Seats'].fillna(df['Seats'].mode()[0])

In [ ]:
# Drop New_Price column due to high proportion of missing values
df.drop(columns=['New_Price'], inplace=True)

In [ ]:
# Final check for missing values
print("Remaining missing values:\n", df.isnull().sum())

Remaining missing values:
 Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

Remove the units from some of the attributes and only keep the numerical values (for
example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from
“New_price”)

In [ ]:
print(df.columns)

Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       'Seats', 'Price'],
      dtype='object')

In [ ]:
#  Define a function to clean numeric columns by removing units and converting to float
def clean_numeric_column(column):
    # Ensure the column is treated as a string, remove non-numeric characters, and convert to float
    if column is not None:
        return pd.to_numeric(column.astype(str).str.replace(r'[^0-9.]', '', regex=True), errors='coerce')
    return None  # Return None if column does not exist

In [ ]:
# Clean columns if they exist
df['Mileage'] = clean_numeric_column(df.get('Mileage'))  # Removes 'kmpl' from 'Mileage'
df['Engine'] = clean_numeric_column(df.get('Engine'))    # Removes 'CC' from 'Engine'
df['Power'] = clean_numeric_column(df.get('Power'))      # Removes 'bhp' from 'Power'
df['New_Price'] = clean_numeric_column(df.get('New_Price'))  # Removes 'lakh' from 'New_Price'

In [ ]:
# Display the cleaned columns to verify
print(df[['Mileage', 'Engine', 'Power', 'New_Price']].head())

   Mileage  Engine   Power New_Price
0    19.67  1582.0  126.20      None
1    13.00  1199.0   88.70      None
2    20.77  1248.0   88.76      None
3    15.20  1968.0  140.80      None
4    23.08  1461.0   63.10      None

Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot
encoded value

In [ ]:
# Perform one-hot encoding on 'Fuel_Type' and 'Transmission' columns
df = pd.get_dummies(df, columns=['Fuel_Type', 'Transmission'], drop_first=True)

In [ ]:
# Display the updated DataFrame to verify
print(df.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
1              46000      First    13.00  1199.0   88.70    5.0   4.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
4              86999      First    23.08  1461.0   63.10    5.0   3.50

  New_Price  Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual
0      None               False             False                 True
1      None               False              True                 True
2      None               False             False                 True
3      None               False             False                False
4      None               False             False                 True

Create one more feature and add this column to the dataset (you can use mutate function in
R for this). For example, you can calculate the current age of the car by subtracting “Year” value
from the current year

In [ ]:
from datetime import datetime

In [ ]:
# Calculate the current year
current_year = datetime.now().year

In [ ]:
# Create a new feature 'Car_Age'
df['Car_Age'] = current_year - df['Year']

In [ ]:
# Create a new feature 'Car_Age' by subtracting 'Year' from the current year
df['Car_Age'] = current_year - df['Year']

In [ ]:
# Display the updated DataFrame with the new 'Car_Age' and 'Age_Category' columns
print(df)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0                 41000      First    19.67  1582.0  126.20    5.0  12.50
1                 46000      First    13.00  1199.0   88.70    5.0   4.50
2                 87000      First    20.77  1248.0   88.76    7.0   6.00
3                 40670     Second    15.20  1968.0  140.80    5.0  17.74
4                 86999      First    23.08  1461.0   63.10    5.0   3.50
...                 ...        ...      ...     ...     ...    ...    ...
5842              27365      First    28.40  1248.0   74.00    5.0   4.75
5843             100000      First    24.40  1120.0   71.00    5.0   4.00
5844              55000     Second    14.00  2498.0  112.00    8.0   2.90
5845              46000      First    18.90   998.0   67.10    5.0   2.65
5846              47000      First    25.44   936.0   57.60    5.0   2.50

     New_Price  Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual  \
0         None               False             False                 True
1         None               False              True                 True
2         None               False             False                 True
3         None               False             False                False
4         None               False             False                 True
...        ...                 ...               ...                  ...
5842      None               False             False                 True
5843      None               False             False                 True
5844      None               False             False                 True
5845      None               False              True                 True
5846      None               False             False                 True

      Car_Age
0           9
1          13
2          12
3          11
4          11
...       ...
5842       10
5843        9
5844       12
5845       11
5846       13

[5847 rows x 16 columns]

Perform select, filter, rename, mutate, arrange and summarize with group by operations (or
their equivalent operations in python) on this dataset. (

In [ ]:
# Function to calculate Car Age
def calculate_car_age(df):
    current_year = datetime.now().year
    df['Car_Age'] = current_year - df['Year']
    return df

In [ ]:
# Function to select specific columns
def select_columns(df):
    return df[['Name', 'Year', 'Price', 'Car_Age']]

In [ ]:
# Function to filter data
def filter_data(df, price_threshold):
    return df[df['Price'] > price_threshold]

In [ ]:
# Function to rename columns
def rename_columns(df):
    return df.rename(columns={'Price': 'Used_Car_Price'})

In [ ]:
# Function to mutate data by adding a new column
def mutate_data(df):
    df['Price_Per_Year'] = df['Used_Car_Price'] / df['Car_Age']
    return df

In [ ]:
# Function to arrange data
def arrange_data(df):
    return df.sort_values(by='Used_Car_Price', ascending=False)

In [ ]:
# Processing the DataFrame through the defined functions
df = calculate_car_age(df)
selected_data = select_columns(df)
filtered_data = filter_data(selected_data, price_threshold=15000)
renamed_data = rename_columns(filtered_data)
mutated_data = mutate_data(renamed_data)
arranged_data = arrange_data(mutated_data)

In [ ]:
# Display the final arranged data
print("\nFinal Arranged Data:\n", arranged_data)

Final Arranged Data:
 Empty DataFrame
Columns: [Name, Year, Used_Car_Price, Car_Age, Price_Per_Year]
Index: []